.todo-app {
    min-height: 100px;
    width: 300px;
    margin: 0 auto;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list .todo.completed .title {
    text-decoration: line-through;
    color: #666;
}

.todo-list .todo .delete {
    display: none;
    cursor: pointer;
}

.todo-list .todo:hover .delete {
    display: inline-block;
}

/* Angular UI Block */
.ui-block-wrapper .ui-block-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.5);
}

.ui-block-wrapper .ui-block-spinner {
    top: calc(50% - 40px);
    left: 0;
    right: 0;
    z-index: 21;
    position: absolute;
    text-align: center;
}